{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Confirmer supression" %}{% endblock %}
{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">

<h4>{% trans "Confirmation de suppression" %}</h4>
<p>{% trans "Voulez-vous vraiment supprimer cette partition ?" %}</p>
<p><a href="{% url "partitions:delete" nom auteur id %}" class="button " >{% trans "Oui" %}</a></p>
<p><a href="{% url "partitions:listepart" nom auteur %}" class="button alt" >{% trans "Retour à la liste des partitions" %}</a></p>

</div>
</div>
</section>
</section>
{% endblock %}
