{% extends "gestion/base.html" %}

{% block titre %}{{ p }}{% endblock %}

{% block content %}
<section id="banner">
  <div class="inner" >



        <h2>{{ p }}</h2>
        {% if suppression %}
            <p>{{ suppression }}</p>
        {% endif %}

        </div>

</section>
<section id="wrapper" >
  <section class="wrapper spotlight style1" >
  <div class="inner">
      <div class="content">

    <div class="info_part">
    {% if user.profile.is_chef %}
        <form action="{% url "partitions:listepart" nom auteur %}" id="chef-edit-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Enregister" />
        </form>
    {% else %}
        {% if p.infos %}
	<div>
            <h4>Infos utiles</h4>
            <p>{{ infos }}</p>
	</div>
        {% endif %}
    {% endif %}
    </div>
      </div>  </div>  </section>
      <section class="wrapper spotlight style3" >
      <div class="inner">
          <div class="content">
    <ul class="filelist">
    {% for p in part %}
        {% if user.is_authenticated and ".pdf" in p.part.url %}
            <li><a href="{% url "partitions:see" nom auteur p.id %}" class="fichier">{{ p.nom }}</a>
        {% elif user.is_authenticated and ".mp3" in p.part.url %}
            <li><a href="{% url "partitions:see" nom auteur p.id %}" class="fichier">{{ p.nom }}</a>
        {% else %}
            <li><p class="fichier">{{ p.nom }}</p>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url "partitions:download" nom auteur p.id %}" class="telecharger">Télécharger</a>
        {% endif %}

        {% if user.profile.is_chef %}
            <a href="{% url "partitions:conf_delete" nom auteur p.pk %}" class="supprimer">Supprimer</a>
        {% endif %}

            </li>
    {% empty %}
        <p> Pas de partitions pour le moment </p>
    {% endfor %}
    </ul>

    <p><a href="{% url "partitions:upload" p.nom p.auteur %}">Ajouter un média</a></p>
    </div></div></section>
{% endblock %}
