{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Ajouter un morceau" %}{% endblock %}
{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<div style="width:90%;text-align:left;display: inline-block;">
<p/>
<h4>{% trans "Ajouter un morceau" %} :</h4>
{% if sauvegarde %}
<p>{% trans "Morceau créé" %}"</p>
{% endif %}
{% if error %}
<p> {{ error }}</p>
{% endif %}

    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Ajouter" %}"/> &nbsp<a href="{% url 'partitions:liste' %}"><button>{% trans "Retour à la liste" %}</button></a>
    </form>
</div>
</div>
</div>


</section>

{% endblock %}
