{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Ajout de parties" %}{% endblock %}
{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<div style="width:90%;text-align:left;display: inline-block;">
    </p>
<h4>{% trans "Ajouter une partition :" %} </h4>
{% if sauvegarde %}
<p>Partition enregistrée</p>
{% endif %}
{% if error %}
<p>{{ error }}</p>
{% endif %}
<div class="row">
    <div class="6u 12u$(small)">
<p>
    <form method ="post" enctype="multipart/form-data" action="{% url 'partitions:upload' nom auteur %}">
    {% csrf_token %}
    {{ form.as_p }}
<p>    <input type="submit" value="{% trans "Enregistrer"%}"/> </p>
    </form>
</p>
<p><a href="{% url "partitions:listepart" nom auteur %}"><button>{% trans "Retour aux partitions" %}</button></a></p>
</div>
</div>
</div>
</section>
{% endblock %}
