{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Suppression d'une vidéo" %}{% endblock %}
{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">
<form action="" method="post">
    {% csrf_token %}
<p><a href="{% url "liste_video" %}" class="button alt">{% trans "Retour aux vidéos" %}</a></p>
    <p>{% blocktrans with object=object %} Voulez vous vraiment supprimer la vidéo {{ object.name }}?{% endblocktrans %}</p>
    <input type="submit" value="{% trans "Oui" %}" />
</form>
</div></div></section>
</section>
{% endblock %}
