{% extends "gestion/base.html" %}
{% load static %}
{% load i18n %}
{% load halflength %}
{% block titre %}{% trans "Ossia : harmonie inter école" %}{% endblock %}

{% block content %}
<!-- Intro -->
  <section id="intro" class="main style1 dark fullscreen">
    <div class="content">
      <header>
        <img src="{% static 'images/logobig.png' %}">
      </header>

      Bienvenue sur le site web d'Ossia. Future muscisien ou oreille attentive n'hésites pas à parcourir ce site pour en apprendre plus à propos de notre ensemble.

      <footer>
        <a href="#orchestre" class="button style2 down">Plus</a>
      </footer>
    </div>
  </section>

<!-- One -->
  <section id="orchestre" class="main style2 right dark fullscreen">
    <div class="content boxpop style2">
      <header>
        <h2>L'orchestre</h2>
      </header>
      <p>Nous nous retrouvons tout les lundi soir en salle L117 des mines pour répéter notre superbe répertoire.
      Pour nous voir consulter notre agenda.
    N'hésitez pas à nous envoyer un message pour nous rejoindre</p>
    </div>
    <a href="#bureau" class="button style2 down anchored">Suivant</a>
  </section>

<!-- Two -->
  <section id="bureau" class="main style2 left dark fullscreen">
    <div class="content boxpop style2">
      <header>
        <h2>Le bureau</h2>
      </header>
      <p>Coucou je suis un texte présentant le bureau</p>
    </div>
    <a href="#chef" class="button style2 down anchored">Suivant</a>
  </section>

<!-- Work -->
  <section id="chef" class="main style3 primary">
    <div class="content">
      <header>
        <h2>Les chefs</h2>
        <p>Un text présentant les chefs.</p>
          </header>
        <div style="float:left;width:45%;background:rgba(102, 153, 255,0.25)">
   <h4>Anthony</h4>
   <img src="{% static 'images/people.png' %}" style="width:4em;height:auto"/>
   <p> Une présentation </p>
</div>
<div style="float:right;width:45%;background:rgba(102, 153, 255,0.25)">
  <h4>Nicolas</h4>
  <img src="{% static 'images/people.png' %}" style="width:4em;height:auto"/>
  <p> Une présentation </p>
</div>


    </div>
  </section>

<!-- Contact -->
  <section id="contact" class="main style3 secondary">
    <div class="content">
      <header>
        <h2>Nous contacter</h2>
        <p>Vous voulez engager une harmonie ? N'hésitez pas à nous contacter</p>
      </header>
      <div class="boxpop">
        <form method="post" action="#">
          <div class="fields">
            <div class="field half"><input type="text" name="name" placeholder="Nom" /></div>
            <div class="field half"><input type="email" name="email" placeholder="Email" /></div>
            <div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
          </div>
          <ul class="actions special">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
