{% extends "gestion/base.html" %}
{% load i18n %}
{% get_current_language as current_language %}
{% load autotranslate %}
{% block titre %}{% trans "Liste des actualités" %}{% endblock %}
{% block content %}

<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<div style="width:90%;text-align:left;display: inline-block;">
  <p/>
  <h4>{% trans "Liste des actualités" %} :</h4>


    <p><a href="{% url "actu:add_actu" %}" class="button">{% trans "Ajouter une actualité" %}</a></p>

  <ul class="filelist">
  {% for a in actus %}
    <li>
      <p>{% autotranslate current_language a.text a.text_en %}   &nbsp <a class="button alt" href="{% url "actu:edit_actu" a.id %}">{% trans "Modifier" %}</a>
      &nbsp <a class="button alt" href="{% url "actu:delete_actu" a.id %}">{% trans "Supprimer" %}</a></p>
</li>

  {% empty %}
    <p>{% trans "Pas d'actualités pour le moment" %}</p>
  {% endfor %}
  </ul>
</div></div></div></section></section>
{% endblock %}
