{% extends "gestion/base.html" %}
{% load i18n %}
{%block titre %}{% trans "Ajout d'une actualité" %}{% endblock %}

{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">
<p><a href="{% url "actu:liste" %}" class="button alt">{% trans "Retour à la liste" %}</a></p>
{% if envoi %}<p>{% trans "Cette actualité a été enregistrée" %}.{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Enregistrer" %}" />
</form>
</div></div></section></section>
{% endblock %}
