{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Suppression d'une actualité" %}{% endblock %}
{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">
<form action="" method="post">
    {% csrf_token %}
<p><a href="{% url "actu:liste" %}" class="button alt">{% trans "Retour aux actualités" %}</a></p>
    <p>{% blocktrans with object=object %} Voulez vous vraiment supprimer l'actualité {{ object }}?{% endblocktrans %}</p>
    <input type="submit" value="{% trans "Oui" %}" />
</form>
</div></div></section></section>
{% endblock %}
