{% extends "gestion/base.html" %}
{% load i18n avatar_tags %}
{% block titre %}{% trans "Modification de l'avatar" %}{% endblock %}

{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<div style="width:90%;text-align:left;display: inline-block;">
  <p/>
        <p>{% trans "Avatar courant: " %}</p>
           {% avatar user %}

           <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
               {{ upload_avatar_form.as_p }}
               <p>{% csrf_token %}<input type="submit" value="{% trans "Ajouter une nouvelle image" %}" /></p>
           </form>


<a href="{% url "trombonoscope:change" %}" class="button alt">{% trans "Retour au profil"%}</a>
</div></div></div></section>
{% endblock %}
