{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %} {% trans "Modification du profil" %}{% endblock %}

{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<h2>{% trans "Modification du profil" %} :</h2>
{% if error %}
<p>{{ error }}</p>
{% endif %}
{% if success %}
<p>{% trans "Changement enregistré !" %}</p>
{% endif %}
<div style="width:90%;text-align:left;display: inline-block;">
<form action="{% url 'calendrier:change-doodle-name' id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Valider" %}" />
</form>
</div>
</div>
</div>
</section>
{% endblock %}
