{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre%}{% trans "Création d'Évènement" %}{% endblock %}
{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">
{% if envoi %}{% trans "L'événement a bien été créé !" %}{% endif %}
<br>
{% if erreur %}
{{ erreur }}
{% endif %}
<form action="{% url 'calendrier:create_event' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Enregistrer" %}" /> &nbsp <a href="{% url 'calendrier:home' %}" class="button alt">{% trans "Retour au calendrier" %}</a>
</form>
</div></div>
</section>
</section>
{% endblock %}
