{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Suppression d'un événement" %}{% endblock %}

{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
<div style="width:90%;text-align:left;display: inline-block;">
<form action="" method="post">
    {% csrf_token %}
    <p>{% blocktrans with object=object %} Voulez vous vraiment supprimer l'événement {{ object }}?{% endblocktrans %}</p>
    <input type="submit" value="{% trans "Oui" %}" /> &nbsp <a href="{% url 'calendrier:view-event' id %}" class="button alt"> {% trans "Retour à l'événement" %}</a>
</form>
</div>
</div>
</div>
</section>
{% endblock %}
