{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Suppression d'un événement" %}{% endblock %}

{% block content %}
<section id="wrapper" >
  <section class="wrapper style1" >
  <div class="inner">
      <div class="content">

<form action="" method="post">
    {% csrf_token %}
    <p>{% blocktrans with object=object %} Voulez vous vraiment supprimer l'événement {{ object }}?{% endblocktrans %}</p>
    <input type="submit" value="{% trans "Oui" %}" /> &nbsp <a href="{% url 'calendrier:view-event' id %}" class="button alt"> {% trans "Retour à l'événement" %}</a>
</form>
</div>
</div>
</section>
</section>
{% endblock %}
