{% extends "gestion/base.html" %}
{% load static %}
{% load frenchmonth %}
{% load i18n %}
{% load translate %}
{% load autotranslate %}

{% get_current_language as current_language %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/calend.css' %}" />
{% endblock %}

{% block titre %}{% trans "Ossia : Agenda" %} {% endblock %}

{% block content %}

    <section id="home" class="main style1 secondary">
      <div class="content">
        {% if actu %}
        <div style="float:left;width:100%;text-align:center;background:rgb(102, 153, 255);align:center">
        <div style="width:90%;text-align:left;display: inline-block;">
          <p/>
            <h4> {% blocktrans count counter=actu|length %}Actualité des chefs:{% plural %}Actualités des chef·fe·s:{% endblocktrans %}</h4>
            <ul>
              {% for a in actu %}
              <li>{% autotranslate current_language a.text a.text_en %}</li>
              {% endfor %}
            </ul>
            </div>
              </div>
  <p/>

        {% endif %}
      <h4 style="text-align:left">{% trans "Agenda :" %} </h4>


        <div style="float:left;width:50%">
<table width="100%" style="background:rgba(102, 153, 255,0.25)">
    <tr>
        <td width="20%" align="left">
          &lt;&lt;
          {% if current_language == "fr" %}
          <a href="{% url "calendrier:view-month" PreviousYear PreviousMonth %}">{{PreviousMonthName|frenchmonth}} {{PreviousYear}}</a>
          {% else %}
            <a href="{% url "calendrier:view-month" PreviousYear PreviousMonth %}">{{PreviousMonthName}} {{PreviousYear}}</a>
          {% endif %}
        </td>
        <td width="20%" align="center"><a href="{% url "calendrier:home" %}">{% trans "Aujourd'hui" %}</a></td>
        <td width="20%" align="right">
          {% if current_language == "fr" %}
            <a href="{% url "calendrier:view-month" NextYear NextMonth %}">{{NextMonthName|frenchmonth}} {{NextYear}}</a> &gt;&gt;
            {% else %}
              <a href="{% url "calendrier:view-month" NextYear NextMonth %}">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
            {% endif %}
        </td>
    </tr>
</table>
<div id="calendar" style="background:rgba(102, 153, 255,0.25)">
  {% if user.is_superuser or user.profile.is_chef %}
  {% if current_language == "fr" %}
  {{Calendar_chef|translate}}
  {% else %}
  {{Calendar_chef}}
  {% endif %}
  {% else %}
  {% if current_language == "fr" %}
  {{Calendar|translate}}
  {% else %}
  {{Calendar}}
  {% endif %}
  {% endif%}
</div>
{% if user.is_superuser or user.profile.is_chef %}
<a href="{% url "calendrier:create_event" %}"><button>{% trans "Ajouter un évènement" %}</button></a>
{% endif %}
</div>
  <div style="float:right;width:45%;">
    {% if user.profile.is_chef_event or user.profile.is_chef %}
    {% if events_a_venir_chef %}
    <div class="box" style="background-color:#4169E1">
    <h1> {% blocktrans count counter=events_a_venir_chef|length %}Doodle seulement visible par les cheff·e·s :{% plural %}Doodles seulement visibles par les cheff·e·s :{% endblocktrans %} </h1>
    <div class="table-wrapper">
      <table class="default">
        <thead>
          <tr>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Lieu" %}</th>
          </tr>
        </thead>
          <tbody>
            {% for e in events_a_venir_chef %}
            <tr>
            <td><b><u><a href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

              <td>{% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %} </td>
              <td> {{e.lieu}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if events_a_venir_chef_public %}
    <div class="box" style="background-color:#a9008a">
    <h1> {% blocktrans count counter=events_a_venir_chef_public|length %}Doodle visible par les cheff·e·s et le public :{% plural %}Doodles seulement visibles par les cheff·e·s :{% endblocktrans %} </h1>
    <div class="table-wrapper">
      <table class="default">
        <thead>
          <tr>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Lieu" %}</th>
          </tr>
        </thead>
          <tbody>
            {% for e in events_a_venir_chef_public %}
            <tr>
            <td><b><u><a href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

              <td>{% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %} </td>
              <td> {{e.lieu}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% if events_a_venir_not_answered %}
    <div class="box" style="background-color:#e4522f">
    <h1> {% blocktrans count counter=events_a_venir_not_answered|length %}Doodle à remplir !!!! :{% plural %}Doodles à remplir !!!! :{% endblocktrans %} </h1>
    <div class="table-wrapper">
      <table class="default">
        <thead>
          <tr>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Lieu" %}</th>
          </tr>
        </thead>
          <tbody>
            {% for e in events_a_venir_not_answered %}
            <tr>
            <td><b><u><a href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

              <td>{% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %} </td>
              <td> {{e.lieu}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  {% endif %}
  {% if events_a_venir_answered_yes %}
  <div class="box" style="background-color:#d0fa98">

    <h1  >{% blocktrans count counter=events_a_venir_answered_yes|length %}Evénement auquel je compte participer (réponse Oui):{% plural %}Evénements auquels je compte participer (réponse Oui):{% endblocktrans %} </h1>

    <div class="table-wrapper">
      <table class="default" >
        <thead>
          <tr>
            <th  >{% trans "Nom" %}</th>
            <th  >{% trans "Date" %}</th>
            <th  >{% trans "Lieu" %}</th>
          </tr>
        </thead>
          <tbody>
            {% for e in events_a_venir_answered_yes %}
            <tr>
            <td ><b><u  ><a   href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

              <td > {% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %} </td>
              <td > {{e.lieu}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  {% endif %}
  {% if events_a_venir_answered_pe %}
  <div class="box" style="background-color:#ffd98c">

      <h1  > {% blocktrans count counter=events_a_venir_answered_pe|length %}Evénement à confirmer (réponse Peut être):{% plural %}Evénements à confirmer (réponse Peut être):{% endblocktrans %} </h1>

      <div class="table-wrapper">
        <table class="default" >
          <thead>
            <tr>
              <th  >{% trans "Nom" %}</th>
              <th  >{% trans "Date" %}</th>
              <th  >{% trans "Lieu" %}</th>
            </tr>
          </thead>
            <tbody>
              {% for e in events_a_venir_answered_pe %}
              <tr>
              <td ><b><u  ><a   href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

                <td > {% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %} </td>
                <td > {{e.lieu}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  {% endif %}
  {% if events_a_venir_answered_no %}
  <div class="box" style="background-color:#f79583">

        <h1  > {% blocktrans count counter=events_a_venir_answered_no|length %}Evénement sans moi (réponse Non):{% plural %}Evénements sans moi (réponse Non):{% endblocktrans %} </h1>

        <div class="table-wrapper">
          <table class="default" >
            <thead>
              <tr>
                <th  >{% trans "Nom" %}</th>
                <th  >{% trans "Date" %}</th>
                <th  >{% trans "Lieu" %}</th>
              </tr>
            </thead>
              <tbody>
                {% for e in events_a_venir_answered_no %}
                <tr>
                <td ><b><u  ><a   href="{% url 'calendrier:view-event' e.id %}">{{ e.nom }}</a></u></b></td>

                  <td >{% blocktrans with date=e.date debut=e.debut %}Le {{ date }} à {{ debut }} {% endblocktrans %}</td>
                  <td > {{e.lieu}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
  {% endif %}

</div>
</section>

{% endblock %}
