{% extends "gestion/base.html" %}
{% load i18n %}
{% block titre %}{% trans "Participation à un événement" %}{% endblock %}

{% block content %}
<section id="create" class="main style3 secondary">
  <div class="content">

  <div style="float:left;width:70%;text-align:center;background:#ffff;align:center">
</p>
{% if envoi %}<p>{% trans "Votre réponse a été enregistrée !" %}</p>{% endif %}


<div><h4> {% blocktrans with nom=ev.nom date=ev.date debut=ev.debut|time:"H:i" %} Voulez vous participer à l'événement {{ nom }}, le {{ date }} à {{ debut }} ?{% endblocktrans %}</h4></div>
  <div style="width:90%;text-align:left;display: inline-block;">
<form action="{% url 'calendrier:reponse' id %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
 <div class="fieldWrapper">
        {{ field.errors }}
  <div>

     <p>{{ field.label_tag }}
        {{ field }}	{% if field.help_text %}
        {{ field.help_text|safe }}
            {% endif %}</p>
</div>


</div>

{% endfor %}
    <input type="submit" value="{% trans "Valider" %}" /> <a href="{% url 'calendrier:view-event' id %}"><button>{% trans "Retour à l'événement" %}</button></a>
</form>

</div>
</div>
</div>
</section>
{% endblock %}
