{% extends "gestion/base.html" %}
{% load i18n %}
{% load autotranslate %}
{% get_current_language as current_language %}
{% block titre %}{{ event.nom.capitalize }}{% endblock %}

{% block content %}
<section id="home" class="main style1 secondary">
	<div class="content">
		<div id="viewevent" style="float:left;width:50%">

    <h2>{{ event.nom.capitalize }}</h2>

    <h4>
      {% blocktrans with date=event.date%} Le {{ date }}{% endblocktrans %}
      {% if event.fin %}
          {% blocktrans with debut=event.debut|time:"H:i" fin=event.fin|time:"H:i" %} de {{ debut}} à {{ fin }}{% endblocktrans %}
      {% else %}
        {% blocktrans with debut=event.debut|time:"H:i" %}  à {{ debut }}{% endblocktrans %}
      {% endif %}
    {% blocktrans with lieu=event.lieu %}- {{ lieu }}{% endblocktrans %}
    </h4>
    <h3>{% trans "Participants" %}</h3>
    <h4>{% blocktrans with nboui=nboui nbpe=nbpe nbnon=nbnon %}<b>{{ nboui }}</b> ont répondu oui, <b>{{ nbpe }}</b> peut-être, et <b>{{ nbnon }}</b> non{% endblocktrans %}</h4>
		{% if user.is_authenticated and event.desc_users %}

		<div class="box">
		{% autotranslate current_language event.desc_users event.desc_users_en %}

		</div>
		{% endif %}
<a href="{% url 'calendrier:reponse' event.id %}"><button>{% trans "Répondre à l'événement" %}</button></a>

          {% if not user.is_superuser or not user.profile.is_chef %}
          {% if chef_only %}
          {% trans "Cet événement est encore en construction ! Reviens plus tard." %}
          {% endif %}
          {% endif %}
          {% if user.is_superuser or user.profile.is_chef or not chef_only%}

</div>
<div style="float:left;width:50%">
{% if instrument_count %}

  <table class="table" width="100%"style="background: rgb(102, 153, 255);">
    <tr>
      <th >{% trans "Instrument" %}</th>
      <th width="20%">{% trans "Oui" %}</th>
      <th width="20%">{% trans "Peut-être" %}</th>
			<th width="20%">{% trans "Non" %}</th>
    </tr>
    {% for instrument, no, sure, maybe, namesoui, namespe,namesnon in instrument_count %}
      <tr>


            <td>
          <div class="spoilerDiv" onclick="ouvrirFermerSpoiler(this);" align="center">
              <span class="lienAfficher">	<u style="color:#ffffff">	<a style="cursor:pointer">{{ instrument }}</a> </u></span>
              <div class="spoiler">
                  <div class="contenuSpoiler">
                  <table style="background: #99bbff;" >
                      <tr>
                          <th>{% trans "Oui" %}</th>
                          <th>{% trans "Peut-être" %}</th>
													<th>{% trans "Non" %}</th>
                      </tr>
                      <td>
                          <ul>
                          {% for name in namesoui %}
                    <li>{{name}}</li>
                    {% endfor %}
                          </ul>
                      </td>
                         <td>
                          <ul>
                          {% for name in namespe %}
                    <li>{{name}}</li>
                    {% endfor %}
                          </ul>
													<ul>
													{% for name in namesnon %}
										<li>{{name}}</li>
										{% endfor %}
													</ul>
                      </td>

                  </table>
                  </div>
              </div>
          </div>
          </td>

        <td>{{ sure }}</td>
        <td>{{ maybe }}</td>
				<td>{{ no }}</td>
      </tr>
    {% endfor %}
  </table>

{% endif %}


{% if user.is_authenticated %}

  <div id="actions">    {% if user.profile.is_chef %}
        <a href="{% url "calendrier:edit_event" event.id %}"><button >{% trans "Modifier l'événement" %}</button></a> &nbsp <a href="{% url "calendrier:delete_event" event.id %}"><button>{% trans "Supprimer l'événement" %}</button></a
      {% endif %}
    <a href="{% url 'calendrier:change-doodle-name' event.id %}" ><button >{% trans "Changer mon nom pour le doodle" %}</button></a> &nbsp <a href="{% url 'calendrier:home' %}"><button>{% trans "Retour au calendrier" %}</button></a>
  </div>
	</div>

{% endif %}

{% endif %}
  </div>
</section>

{% endblock %}
